body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
    text-decoration: none; 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

section {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-10px);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.text {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    transition: transform 0.3s ease;
    cursor: pointer; 
    display: flex; 
    flex-direction: column; 
    padding: 25px;
}
